.contents
  .notification チャットグループが作成されました。

  .side
    .side__user
      %p.user_name サンプル
      %i.fas.fa-edit.icon{href: "#"}
      %i.fas.fa-cog.icon{href: "#"}

    .side__group
      %ul.group_list
        %li.group
          .group__group_name サンプル
          .group__group_message サンプルっち

        %li.group
          .group__group_name サンプル
          .group__group_message サンプルっち

        %li.group
          .group__group_name サンプル
          .group__group_message サンプルっち


  .main_contents
    .main_contents__header
      %a{href: '#', class:'edit'} Edit
      %h3.group_name  サンプルグループ
      %p.member_name member : seo

    .contents__content
      %ul.messages
        %il.message_top
          .message_top__message_name サンプル
          .message_top__message_date 2018/10/10
          .message_top__message_text なるほど


        %il.message_list
          .message_list__message_name サンプル
          .message_list__message_date 2018/10/12
          .message_list__message_text なるほどね


      .message_form
        .message
          .message_inside Type a message
          %i.fas.fa-images.icon
        %a{href: '#', class:'send'} SEND

